3384.sav
cis_survey_data_revised.pkl
codigo3384.pdf
cues3384.pdf
DA3384
df.csv
ES3384
FT3384.pdf
MD3384
MD3384.zip
varNameDesc
calcs.py
calcs.txt
cis_analysis.ipynb
cis_data_preparation_jupyter.ipynb
lookUpTable.pkl
lookUpTable2.pkl
.spyproject/
.vscode/